

<div class="footer">
    <div class="container" style="margin-bottom: 0px">
        <div class="row" style="border-bottom: #8c4648 solid 1px;">
            <div class="col-sm-3 col-footer">
                <div class="footer-title">ABOUT</div>
                <p class="footer-text">
                    WebSoftSeo the staff are experienced engineers, WebSoftSeo Company has been exploring the potential of technology, knowledge and internal resources to bring innovative products and customer service software highest quality.
                </p>

            </div>

            <div class="col-sm-3 col-footer">
                <div class="footer-title">MAILING LIST</div>
                <p class="footer-text">
                    Sign up if you would like to receive occasional treats from us.
                </p>
                <input type="text" class="col-sm-12 form-control input-sm"/>
                <br/>
                <input type="submit" class="btn btn-block btn-danger btn-sm" value="SUBSCRIBE ME!"/>

            </div>

            <div class="col-sm-3 col-footer">
                <div class="footer-title">CONTACT INFO</div>
                <p class="footer-text">
                    WebSoftSeo the staff are experienced engineers, WebSoftSeo Company has been exploring the potential of technology.
                </p>
                <ul>
                    <li>
                        <span class="glyphicon"></span>
                    </li>
                </ul>
            </div>

            <div class="col-sm-3 col-footer" style="height: 260px;">
                <div class="footer-text">
                    
                    <ul class="list-unstyled footer-text" style="padding-top: 65px">
                        <li>
                            <span class="glyphicon glyphicon-phone"></span> 0937 566 247
                        </li>
                        <li>
                            <span style="display: inline-block" class=" glyphicon glyphicon-map-marker"></span>
                            Nhat Chi Mai 77/58, Ward 13, Tan Binh, Ho Chi Minh City
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-envelope"></span> websoftseo.com@gmail.com
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-globe"></span> www.websoftseo.com
                        </li>
                    </ul>


                </div>

                <div class="btn " style="background-color: #e3453c; color: white; right: 0px; bottom: 0px;position: absolute;"><span class="glyphicon glyphicon-chevron-up"></span></div>
            </div>


        </div>
        <div class="row" style="padding: 10px 0px">
            <div class="col-sm-4">
                <div class="footer-text">
                    <span class="glyphicon glyphicon-copyright-mark"></span> Copyright of <a href="#" class="footer-link">websoftseo</a> 2010-2014
                </div>

            </div>
            <ul style="float: right;" class="list-inline list-unstyled">
                <li>@Html.ActionLink("Home", "Home", "Home", new { @class = "footer-link" })</li>
                <span class="divider-vertical">|</span>
                <li>@Html.ActionLink("About", "About", "Home", new { @class = "footer-link" })</li>
                <span class="divider-vertical">|</span>
                <li>@Html.ActionLink("Contact", "Contact", "Home", new { @class = "footer-link" })</li>
            </ul>
        </div>
</div>


