<ul>
    <li>
        <a href="/Manage/EditProfile">Chỉnh sửa thông tin cá nhân</a>
    </li>
    <li>
        <a href="/Manage/WorkInfo">Chỉnh sửa hồ sơ việc làm</a>
    </li>
    <li>
        <a href="/Manage/ChangePassword">Đổi mật khẩu</a>
    </li>

    <li>
        <a href="#">Work Experience</a>
    </li>
</ul>